.container{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 40px;
}

.image{
    width: 600px;
    
}
.image img{
    width: 600px;
}
.text{
    width: 300px;
  
}
.text h1{
    font-size: 40px;
    font-weight: 800;
}
.btn{
    padding: 10px 25px;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
}

/* for mobile device */
@media screen and (max-width: 576px) {
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .image{
        width: 400px;
        
    }
    .image img{
        width: 350px;
    }

}